@import '../common';

.hero {
  background-color: $white;
  height: 60rem;
  padding: 3rem;
  text-align: center;
  font-size: 20px;

  .h2{
    color: $lightTextColor;
    font-size: 10px;
  }

  // * {
  //   color: $darkTextColor;
  //   font-size: 50px;
  //   text-align: center;
  // }

}
