<div>
  <section class="workprocess">
    <div class="row">
        <h3>POD Workprocess</h3>
          <div class="col-sm-4">
            <h2>{{topName}}</h2>
            <select [(ngModel)]="selectedGroup">
              <option *ngFor="let group of groups" value= {{group}}>
                {{group}}
              </option>
            </select>
              <!-- <select ng-model="group" ng-change="updateSelectedGroup(group)">
                <option ng-repeat="cat in group"
                          value="{{cat}}">
                          {{cat}}
                  </option>
              </select> -->
          </div>
          <div class="col-sm-4">
            <h2>{{bottomName}}</h2>
            <select [(ngModel)]="selectedSubGroup">
              <option *ngFor="let group of groups" value= {{group}}>
                {{group}}
              </option>
            </select>
          </div>

          <!-- <br></br> -->
          <div class="center">
            <button type="button" class="btn btn-primary">Search</button>
          </div>

        </div>
    </section>
</div>
