<div>
  <section class="workprocess">
    <div class="row">
        <h2>Group Workprocess</h2>

          <div class="col-sm-4">
            <h3>{{topName}}</h3>
            <select [(ngModel)]="selectedGroup" (ngModelChange)="updateSubGroup($event)">
              <option *ngFor="let group of groups" value= {{group}}>
                {{group}}
              </option>
            </select>
          </div>
          <div class="col-sm-4">
            <h3>{{bottomName}}</h3>
            <select [(ngModel)]="selectedSubGroup">
              <option *ngFor="let group of subGroups" value= {{group}}>
                {{group}}
              </option>
            </select>
          </div>

          <!-- <br></br> -->
          <p></p>
          <div class="center">
            <button type="button" class="btn btn-primary">Search</button>
          </div>

        </div>
    </section>
</div>
