<section class="workprocess">
  <div>
    <h2>{{ $ctrl.name}}</h2>
    <select>
      <option value="Engineering">Engineering</option>
      <option value="Finance">Finance</option>
      <option value="HR">HR</option>
      <option value="Finance">Finance</option>
      <option value="POD">POD</option>
    </select>
  </div>
</section>


<!-- <select ng-model="filterCondition.operator">
    <option ng-selected="{{operator.value == filterCondition.operator}}"
            ng-repeat="operator in operators"
            value="{{operator.value}}">
      {{operator.displayName}}
    </option>
</select> -->
