<section class="workprocess">
  <div>
    <h2>{{$ctrl.topName}}</h2>
    <select ng-model="category" ng-change="$ctrl.updateSelectedCategory(category)">
      <option ng-repeat="cat in $ctrl.category"
              value="{{cat}}">
              {{cat}}
      </option>
    </select>
  </div>
  <div>
    <h2>{{$ctrl.bottomName}}</h2>
    <select ng-model="category">
      <option ng-repeat="subCat in $ctrl.getSubCategoryDropDown()"
              value="subCat.value">
              {{subCat}}
      </option>
    </select>
  </div>
</section>
