//@import '../common';

$primaryColor:   #0277bd;
$accentColor:    #1de9b6;
$bgColor:        #efefef;
$darkBgColor:    #263238;
$lightBgColor:   #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;
$white:          #FFFFFF;
$purple:         #1F3A93;

.workprocess {
  font-size: 15px;
  padding-bottom: 20px;
}

h2{
  color: $primaryColor;
  font-size: 25px;
  vertical-align: text-top;
}

select{
  vertical-align: text-top;
}

.center {
   padding-top: 35px;
   text-align: center;
}
